@charset "UTF-8";

body {
    background-color: rgba(144, 238, 144, 0.300);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

h1 {
    color: rgba(9, 114, 9, 0.9);;
}

#principal {
    text-align: center;
    color: whitesmoke;
    background-color: darkgreen;
    padding: 15px;
    border-radius: 10px;
}

h2 {
    color: rgba(56, 61, 54, 0.9);;
}

.basico {
    color: darkgreen;
}

.inter {
    color: goldenrod;
}

.avan {
    color: red;
}